# python-telegram-bot==20.6
openai==1.12.0
python-dotenv==1.0.0
hypercorn
fastapi
uvicorn
pydantic
httpx
sympy
chromadb==0.4.24
numpy==1.26.4
sentence-transformers
langchain
langchain-community
pypdf
bcrypt>=4.0.0